.signupContainer {
  font-family: "Archivo";
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin: 0;
  padding: 0;
}

.aside {
  width: 30vw;
  padding: 5rem;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  color: #000000;
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.subtitle {
  font-weight: 400;
  font-size: 1.6rem;
  color: #000000;
  margin: 0;
  margin-bottom: 5rem;
}

.formContent {
  margin-bottom: 5rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: 700;
  font-size: 1.6rem;
  color: #000000;
  margin-bottom: 0.5rem;
}

.inputContainer input {
  padding: 1.5rem;
  outline: none;
  border: 2px solid black;
  border-radius: 0.8rem;
  color: rgba(0, 0, 0, 0.72);
  font-family: "Archivo";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  margin-bottom: 1rem;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.buttons button {
  padding: 1.5rem;
  border-radius: 0.8rem;
  outline: none;
  border: 2px solid black;
  background-color: white;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 150%;
  text-align: center;
  margin-bottom: 1.5rem;
}

.buttons button:first-child {
  background-color: #000000;
  color: white;
}

.image {
  width: 70vw;
  height: 100vh;
  background: url("/assets/images/signupbg.svg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.image h2 {
  font-weight: bold;
  font-size: 4rem;
  color: white;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.image p {
  font-size: 2.4rem;
  color: white;
  width: 70%;
  margin: 0 auto;
}

.imageContainer {
  text-align: center;
  width: 60%;
  padding-bottom: 3rem;
}
